// Typography
$font-family: 'sans-serif';

$color-body: '#13100e';
$color-text: '#fdfdfd';
$color-titles: '#df1616';
$color-menu: '#222222';
$color-span-yellow: '#f1a000';

:root {
  --color-body: '#13100e';
  --color-text: '#fdfdfd';
  --color-titles: '#df1616';
  --color-menu: '#222222';
  --color-span-yellow: '#f1a000';
}